{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TFG - Javier Santos</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel ="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"></head>
<body>
    <header>
        <nav>
            <a class="logo-text" href="{% url 'home' %}">TFG</a>
            <ul>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Desarrollado por Javier Santos</p>
    </footer>
</body>
</html>
